/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: roboto-regular;
  max-height: 800px;
  max-width: 360px;
  background-color: rgb(255, 217, 3);
}

@font-face {
  font-family: "roboto-regular";
  src: url("./assets/Roboto-Regular.ttf");
}
