<form [formGroup]="loginform" (ngSubmit)="submit()">
  <mat-tab-group>
    <mat-tab label="LOGIN" (click)="chooseLogin()"></mat-tab>
    <mat-tab label="REGISTER" (click)="chooseRegister()"></mat-tab>
  </mat-tab-group>
  <mat-card>
    <mat-card-content>
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Username"
            formControlName="email"
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>
      </p>
    </mat-card-content>
  </mat-card>
</form>
