<div>
  <div class="top-row">
    <div>
      <button
        class="togglesidenavbutton"
        mat-stroked-button
        color="warn"
        (click)="sidenav.toggle()"
      >
        Open Filters<mat-icon matSuffix>keyboard_tab</mat-icon>
      </button>
    </div>
    <div class="search-form">
      <form (ngSubmit)="searchterm()">
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input
            type="text"
            class="search-form-input"
            matInput
            placeholder="e.g. Covid-19"
          /><button matSuffix mat-icon-button>
            <mat-icon button type="submit">search</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
  </div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="over" #sidenav [(opened)]="opened" class="sidenav">
      <h3>Search Filters</h3>
      <form [formGroup]="filterform" (ngSubmit)="onProcessFilterForm()">
        <mat-form-field appearance="fill">
          <mat-label>Search</mat-label>
          <input matInput />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Categories</mat-label>
          <mat-select>
            <mat-option *ngFor="let cat of categories" [value]="cat.value">
              {{ cat.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <button type="submit">Filter</button>
      </form>
    </mat-sidenav>
    <mat-sidenav-content>
      <h1>YOUR MOM'S FEATURED WEBSITE</h1>
      <mat-card class="Featured-card">
        <mat-card-header>
          <div mat-card-avatar class="Featured-header-image"></div>
          <mat-card-title>VTTP Presentation</mat-card-title>
          <mat-card-subtitle>This presentation right here</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>This presentation is pretty okay I guess.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button>FIND OUT MORE</button>
          <button mat-stroked-button>JOIN CHAT</button>
        </mat-card-actions>
      </mat-card>
      <mat-divider></mat-divider>
      <h1>YOUR MOM'S FAVOURITE EVENTS</h1>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
