.sidenav {
  height: 100%;
  border: 1px solid #555;
  padding: 20px;
}

.togglesidenavbutton {
  margin-left: 0;
  height: 56px;
}
.search-form {
  margin-right: 0;
}
.top-row {
  display: flex;
  justify-content: space-between;
}
.h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
